{% extends 'blog/base.html' %}

{% block title %}
    Edit post "{{ tag.title|title }}"
{% endblock %}

{% block content %}
    <form action="{% url 'post_update_url' slug=post.slug %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            {% if field.errors %}
                <div style="color: red">
                    {{ field.errors }}
                </div>
            {% endif %}

            {{ field.label }}
            {{ field }}
            <br><br>
        {% endfor %}
        <button type="submit">Update Post</button>
    </form>
{% endblock %}